<div data-role="view"
     id="all-investigations-view"
     data-id="all-investigations-view"
     data-layout="not-home-layout"
     data-title="All Investigation"
     data-show="app.allInvestigation.init">
    <div id="home">
        <h1>All Investigations</h1>
        <ul data-role="listview"
            data-bind="source: data"
            data-style="inset"
            data-template="itemTemplate">
        </ul>
    </div>
</div>

<script type="text/x-kendo-template" id="itemTemplate">
    <a data-click="itemClicked" data-tap="itemClicked" data-role="button">#: title #</a>
</script>