<div data-role="view"
     id="images-view"
     data-id="images-view"
     data-layout="not-home-layout"
     data-title="Pictures"
     data-show="app.images.init">
    <div id="home">
        <div data-role="touch" data-tap="app.images.add">Take new picture</div>
        <div data-role="scrollview" 
             data-bind="source: data" 
             data-template="imageTemplate"
             data-content-height="100%"
             data-enable-pager="false">
        </div>
    </div>
</div>

<script id="imageTemplate" type="text/x-kendo-template">
    <div>
        <div style="background-image: url(#: url #);"></div>
        <div data-role="touch" data-id="${id}" id="${id}" data-tap="app.images.onTouch">Show the place where it's been taken</div>
    </div>
</script>