<div data-role="view"
     id="images-view"
     data-id="images-view"
     data-layout="not-home-layout"
     data-title="Pictures"
     data-show="app.images.init">
    <div id="home">
        <div data-role="touch" data-tap="app.images.add" class="touch-button">Make new picture</div>
        <ul data-role="listview"
            data-bind="source: data"
            data-template="imageTemplate">
        </ul>
    </div>
</div>

<script id="imageTemplate" type="text/x-kendo-template">
    <table width="100%">
        <tr>
            <td>
                <span><img src="${url}" width="300" height="300" /><br><span style="color: green;">${created}</span><br><a class="view-button" data-role="touch" data-id="${id}" id="${id}" data-tap="app.images.onTouch">View location</a></span>
            </td>
        </tr>
    </table>
</script>