<div data-role="view"
     id="investigation-view"
     data-id="investigation-view"
     data-layout="not-home-layout"
     data-title="Investigation">
    <div id="home">
        <h1>Investigation</h1>
        <a data-role="button"
           href="views/notes-view.html#notes-view">
            Investigation notes
        </a><br>
        <a data-role="button"
           href="views/image-view.html#image-view">
            Investigation pictures
        </a><br>
        <a data-role="button"
           href="views/audio-view.html#audio-view">
            Investigation audio records
        </a><br>
        <a data-role="button"
           href="views/video-view.html#video-view">
            Investigation video records
        </a>
    </div>
</div>