<div data-role="view"
     id="investigation-view"
     data-id="investigation-view"
     data-layout="investigation-layout"
     data-title="Investigation"
     data-show="app.investigation.init">
    <div id="home">
        <div data-role="touch"
             data-tap="app.investigation.takeNote">
            Investigation notes
        </div>
        <div data-role="touch"
             data-tap="app.investigation.takeImage">
            Investigation pictures
        </div>
        <div data-role="touch"
             data-tap="app.investigation.takeAudio">
            Investigation audio records
        </div>
        <div data-role="touch"
             data-tap="app.investigation.takeVideo">
            Investigation video records
        </div>
    </div>
</div>