<div data-role="view"
     id="investigation-view"
     data-id="investigation-view"
     data-layout="investigation-layout"
     data-title="Investigation"
     data-show="app.investigation.init">
    <div id="home">
        <a data-role="touch"
             data-tap="app.investigation.takeNote"
             class="block-touch-button">
            Investigation notes
        </a>
        <a data-role="touch"
             data-tap="app.investigation.takeImage"
             class="block-touch-button">
            Investigation pictures
        </a>
        <a data-role="touch"
             data-tap="app.investigation.takeAudio"
             class="block-touch-button">
            Investigation audio records
        </a>
        <a data-role="touch"
             data-tap="app.investigation.takeVideo"
             class="block-touch-button">
            Investigation video records
        </a>
    </div>
</div>