<div data-role="view"
     id="new-investigation-view"
     data-id="new-investigation-view"
     data-layout="not-home-layout"
     data-title="New Investigation"
     data-show="app.newInvestigation.init">
    <div id="home">
        <input type="text"
               id="new-investigation-input"
               placeholder="Enter a title"
               data-bind="value: title" />
            <a data-tap="app.newInvestigation.start"
               data-role="touch"
               class="touch-button">Start a new investigation</a>
    </div>
</div>