<div data-role="view"
     id="notes-view"
     data-id="notes-view"
     data-layout="not-home-layout"
     data-title="Notes"
     data-show="app.notes.init">
    <div id="home">
        <textarea id="new-investigation-input"
                  placeholder="Enter a note"
                  data-bind="value: newNote.text"></textarea>
        <a data-tap="app.notes.add"
           data-role="touch"
           class="touch-button">Add a note</a>
        <br>
        <ul data-role="listview"
            data-bind="source: data"
            data-template="noteTemplate">
        </ul>
    </div>
</div>

<script type="text/x-kendo-template" id="noteTemplate">
    <table width="100%">
        <tr>
            <td>
                <span><span>${text}</span><br><span style="color: green;">${created}</span></span>
            </td>
            <td width="30%">
                <a class="view-button" data-role="touch" data-id="${id}" id="${id}" data-tap="app.notes.onTouch">View location</a>
            </td>
        </tr>
    </table>
</script>