<div data-role="view"
     id="sounds-view"
     data-id="sounds-view"
     data-layout="not-home-layout"
     data-title="Sounds"
     data-show="app.sounds.init">
    <div id="home">
        <h1>Sounds</h1>
        <a data-role="button" data-click="app.sounds.add">Make new audio record</a>
        <div data-role="scrollview" 
             data-bind="source: data" 
             data-template="soundTemplate"
             data-content-height="100%"
             data-enable-pager="false">
        </div>
    </div>
</div>

<script id="soundTemplate" type="text/x-kendo-template">
    <div>
        <div style="background-image: url(#: url #);"></div>
        <a data-role="button" data-id="${id}" id="${id}" data-click="app.sounds.onTouch">Show the place where it's been recorded</a>
    </div>
</script>