<div data-role="view"
     id="sounds-view"
     data-id="sounds-view"
     data-layout="not-home-layout"
     data-title="Sounds"
     data-show="app.sounds.init">
    <div id="home">
        <div data-role="touch" data-tap="app.sounds.add" class="touch-button">Make new audio record</div>
        <div data-role="scrollview" 
             data-bind="source: data" 
             data-template="soundTemplate"
             data-content-height="100%"
             data-enable-pager="false">
        </div>
    </div>
</div>

<script id="soundTemplate" type="text/x-kendo-template">
    <div>
        <div style="background-image: url(#: url #);"></div>
        <div class="touch-button" data-role="touch" data-id="${id}" id="${id}" data-tap="app.sounds.onTouch">Show the place where it's been recorded</div>
    </div>
</script>