<div data-role="view"
     id="videos-view"
     data-id="videos-view"
     data-layout="not-home-layout"
     data-title="Videos"
     data-show="app.videos.init">
    <div id="home">
        <div data-role="touch" data-tap="app.videos.add">Record new video</div>
        <div data-role="scrollview" 
             data-bind="source: data" 
             data-template="videoTemplate"
             data-content-height="100%"
             data-enable-pager="false">
        </div>
    </div>
</div>

<script id="videoTemplate" type="text/x-kendo-template">
    <div>
        <div style="background-image: url(#: url #);"></div>
        <div data-role="touch" data-id="${id}" id="${id}" data-tap="app.videos.onTouch">Show the place where it's been recorded</div>
    </div>
</script>